<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <script src="js/pouchdb-5.2.1.min.js"></script>
  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <!-- right below ionic.bundle.js -->
  <script src="lib/api-check/dist/api-check.js"></script>
  <script src="lib/angular-formly/dist/formly.js"></script>
  <script src="lib/angular-formly-templates-ionic/dist/angular-formly-templates-ionic.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>
<body ng-app="starter">

<!-- The nav bar -->
<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-flat button-assertive">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view></ion-nav-view>
<!--LOGIN page -->


  <ion-view view-title="First page">
    <ion-content class="padding">
      <h1 style="text-align: center;">
        Login
      </h1><br/>
      <br/><br/>

      <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" ng-model="email" placeholder="julian2@example.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="text" ng-model="password" placeholder="pw">
  </label>
</div>
<!--<div class="card">-->
  <!--<div class="item item-text-wrap">-->
    <!--<a href="http://127.0.0.1:8000/register">-->
    <!--Need an account?-->
      <!--</a>-->
  <!--</div>-->
<!--</div>-->
<div class="card">
  <div class="item item-text-wrap">
    <a ng-click="forgotlogin()">>
    Forgot Password?
      </a>
  </div>
<!--</div>-->
      <p style="color: red;">
        {{ error }}
      </p>
      <button class="button button-flat button-balanced"
              ng-click="login('email','password')">
        Submit
      </button>
    </ion-content>
  </ion-view>
</body>
</html>
